.features .container {
  display: flex;
  justify-content: center;
}
.features-title {
  display: none;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  gap: 8px;
}
.features-list-item p {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
